.gameStatus {
    position: absolute;
    bottom: 15px;
    left: 20px;
    width: calc(100% - 40px);
    color: white;
}
.userInfo{
    border: solid 1px #3684c6;
    border-left: none;
    width: calc(100% - 58px);
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 2px 0 0 #d1e8fc;
    background-color: #ffffff;
    height: 58px;
    padding: 6px 0 7px 0;
}
.profile{
    width: 58px;
    display: inline-block;
    vertical-align: top;
}

.userName{
    font-size: 12px;
    font-weight: bold;
    width: calc(100% - 65px);
    display: inline-block;
    color: #3684c6;
    margin-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.userName span, .userName b, .userName p {
    vertical-align: middle;
}
.ranking{
    width: 55px;
    display: inline-block;
    border-left: solid 1px #3684c6;
    height: 44px;
    vertical-align: middle;
    text-align: center;
}
.ranking span{
    display: block;
}
.rankingTitle{
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3684c6;  
}
.rankingPosition{
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffd56b;
    text-shadow: 1px 1px 0 #e8696b;
}
.gameStatus img {
    width: 58px;
}


.scoreText{
    font-size: 17px;
    color: #4a90e2;
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}
.score{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 70px);
    text-align: right;
    margin-bottom: 5px;
}
.scoreImage{
    width: 17px;
    height: 17px;
    display: inline-block;
    background-color: #ffd56b;  
    vertical-align: middle;
    margin-right: 5px;
}
.scoreValue{
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #4a90e2;
    text-shadow: 1px 1px 0 #d1e8fc;
}